body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

h2 {
    font-size: 35px;
}

p {
    color: #707070;
    line-height: 150%;
}

.mx-150 {
    margin: 0 150px;
}

.mt-120 {
    margin-top: 120px;
}

.flexible-container {
    display: flex;
}

img {
    width: 100%;
}

.donate-now-banner {
    background-image: url(../images/bd-flood-relief.jpg);
    background-size: cover;
}

.donate-now-info {
    padding: 170px 0 180px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color: #ffffff;
}

.donate-now-info h1 {
    font-size: 50px;
    font-weight: bold;
}

.donate-now-info p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
    color: #ffffff;
}

.donate-here-button,
.subscribe-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #2b8ce5;
    padding: 15px 27px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.donate-here {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.donate-amount {
    padding-left: 0;
    display: flex;
    margin: 50px 0;
}

.donate-amount li {
    list-style: none;
    padding: 40px 20px;
    background-color: #FAFAFA;
    margin-left: 15px;
    border-radius: 3px;
    font-size: 28px;
    font-weight: bold;
    color: #707070;
}

.donate-amount li.active {
    border: 1px solid #2B8CE5;
    background-color: #2b8be545;
    color: #2B8CE5;
}

.no-margin {
    margin: 0;
}

.donate-field {
    margin-bottom: 17px;
}

.donate-field input {
    width: 100%;
    border-width: 0 0 1px 0;
    border-color: #C6C6C6;
    color: #B3B3B3;
    text-align: center;
    outline: none;
    font-size: 16px;
}

.donate-plan {
    width: 50%;
    margin: 0 auto 40px;
    text-align: center;
}

#plan1 {
    background-color: #e6b8af85;
    margin-left: 0;
}

#plan2 {
    background-color: #d0e0e38a;
}

#plan3 {
    background-color: #d9d2e982;
}

#plan4 {
    background-color: #ead1dc85;
}

.single-donate-plan {
    width: 20%;
    padding: 20px;
    border-radius: 5px;
    margin-left: 13.33px;
}

.single-donate-plan img {
    width: 60%;
}

.sign-up-bg {
    background-color: #FFD24F;
}

.sign-up {
    margin: 0 auto;
    width: 45%;
    padding: 50px 0;
}

.sign-up h1 {
    font-size: 32px;
    color: #231F20;
}

.sign-up p {
    font-size: 13px;
    padding-left: 10px;
}

.newsletter-form {}

.newsletter-form input {
    width: 90%;
    height: 30px;
    padding: 10px 20px;
    border-radius: 25px;
    outline: none;
    border: none;
    margin-top: 35px;
    font-size: 14px;
}

.subscribe-button {
    border: none;
    border-radius: 25px;
    padding: 13px 40px;
    font-size: 16px;
    cursor: pointer;
}


.footer {
    background-color: #243C4B;
    text-align: center;
    padding: 40px 0;
}

.footer img {
    width: 10%;
}

.footer p {
    color: #ffffff;
}